<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "pharma_app/product.html" %}

    {% block content1 %}
        <div>
             <form method="get" class="form-control" style="background-color:whitesmoke">
                       <span style="font-weight:bolder; color:green;  border-style:bold;font-size:13px;">
                          {{myFilters.form}}
                        </span>
                       <input class="btn btn-success" style="color:white; font-weight:bolder;font-size:13px;" type="submit" name="btn" value="Search"/>
             </form>
        </div><br>
    {% endblock %}


    {% block content %}
    <div class="row">

        <div class="col-5">
            <table class="table table-striped" style="font-family:Arial; font-weight:bold; font-size:12px; background-color:green">
                <tr style="color:white; background-color:black;">
                    <th>ID</th>
                    <th>ITEM</th>
                    <th>PRICE</th>
                    <th>PRODUCT.NUMB</th>
                    <th>ACTION</th>
                </tr>
                {% for o in obj3 %}
                <tr style="color:white;">
                    <td>{{o.id}}</td>
                    <td>{{o.item}}</td>
                    <td>{{o.price}}</td>
                    <td>{{o.product_no}}</td>
                    <td><a class='btn btn-success' style="font-weight:bolder;" href="/pharma_app/View/{{o.id}}">INFO</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>

        <div class="col-5">

        </div>


    </div>



    {% endblock %}

</body>
</html>